<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello standard view!'" />
${message}
<span th:text="'Message: ' + ${message1}"></span>
<span th:text="'Message: ' + ${message2}"></span>
</body>
</html>